<table class="table table-bordered">
  <thead>
    <tr>
      <th>código</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th>Ação</th>
    </tr>
    </thead>
    <tbody>

    <% @produtos.each do |p| %>

    <tr>
      <td><%= p.id %></td>
      <td><%= p.nome %></td>
      <td><%= p.descricao %></td>
      <td><%= p.preco %></td>
      <td><%= p.quantidade %></td>
      <td>
        <%= button_to "Remover", p,
                      method: :delete,
                      class:"btn btn-danger",
                        data: { confirm: "tem certeza que deseja remover: #{p.nome} ??"} %>
      </td>
    </tr>
    <% end %>
  </tbody>


</table>
