<h1>Tabela de Roupas</h1>
<h2>teste feito</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <% @produtosPorNome.each do |produto| %>

        <tr>
          <td><%= produto.id %></td>
          <td><%= produto.nome %></td>
          <td><%= produto.descricao %></td>
          <td><%= produto.preco %></td>
          <td><%= produto.quantidade %></td>
        </tr>
        <% end %>
      </tbody>


    </table>

    <br><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </tr>
        </thead>
        <tbody>

        <% @produtosPorPreco.each do |produto| %>

        <tr>
          <td><%= produto.id %></td>
          <td><%= produto.nome %></td>
          <td><%= produto.descricao %></td>
          <td><%= produto.preco %></td>
          <td><%= produto.quantidade %></td>
        </tr>
        <% end %>
      </tbody>


    </table>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Ação</th>
        </tr>
        </thead>
        <tbody>

        <% @produtosTodos.each do |p| %>

        <tr>
          <td><%= p.id %></td>
          <td><%= p.nome %></td>
          <td><%= p.descricao %></td>
          <td><%= p.preco %></td>
          <td><%= p.quantidade %></td>
          <td>
            <%= button_to "Remover", p,
                          method: :delete,
                          class:"btn btn-danger",
                            data: { confirm: "tem certeza que deseja remover: #{p.nome} ??"} %>
          </td>
        </tr>
        <% end %>
      </tbody>


    </table>
    <div class="container">
      <div class="row">
        <div class="linkAdicionar">
          <%= link_to "Adicionar", new_produto_path %>
        </div>
      </div>
    </div>
