<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tabela de Roupas</title>
  </head>
  <%= nav_bar brand:"MinhaLoja", brand_link:"root_url", fixed: :top  %>
  <%=  %>

  <body>
<div class="container inicio">

<h1>Tabela de Roupas</h1>
<h2>teste feito</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </tr>

        <% @produtosPorNome.each do |produto| %>

        <tr>
          <td><%= produto.id %></td>
          <td><%= produto.nome %></td>
          <td><%= produto.descricao %></td>
          <td><%= produto.preco %></td>
          <td><%= produto.quantidade %></td>
        </tr>
        <% end %>

      </thead>
    </table>

    <br><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </tr>

        <% @produtosPorPreco.each do |produto| %>

        <tr>
          <td><%= produto.id %></td>
          <td><%= produto.nome %></td>
          <td><%= produto.descricao %></td>
          <td><%= produto.preco %></td>
          <td><%= produto.quantidade %></td>
        </tr>
        <% end %>

      </thead>
    </table>


  
</div>



  </body>
</html>
