<!DOCTYPE html>
<html>
  <head>
    <title>Loja de Camisetas</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container inicio">


    <%= nav_bar brand:"MinhaLoja", brand_link:"#{root_url}", fixed: :top do  %>
      <% form_tag busca_produto_path, method: :get, class: "navbar-form navbar-right" do %>
        <div class="form-group">
          <%= text_field_tag :nome, @nomeABuscar, class:"form-control" %>
          <%= button_to "Buscar", nil, class:"form-control btn btn-default" %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
